<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить предмет</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/addurok.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>

        <nav>
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/jurnali">Журналы</a>
            <li><a href="/prepodprof">Добавить препода</a></li>
            <li><a href="/select_prof">Поиск</a></li>
            <li><a href="/spisok">Список</a></li>
            <li><a href="/jurnal">Журнал</a></li>
          </ul>
        </nav>
  
      </header>


      <div class="header">
        <a href="#default" class="logo">AdminPanel</a>
        <div class="header-right">
          <a class="active" href="/select_prof">Список преподователей</a>
          <a href="/prepod">Новый преподователь</a>
          <a href="#about">Добавить студента</a>
          <a href="/spisok">Список групп</a>
          <a href="/addgroup">Добавить группу</a>
          <a href="/addurok">Добавить предмет</a>
          <a href="#about">Панель админа</a>
        </div>
      </div>
      
        <div class="form-box2">
            <h1>Добавление Предмета</h1>
            <form>
                <div class="urok">
                    <div class="text-field-urok">
                        <label class="text-field__label-urok" for="username">Полное наименование:</label>
                        <input class="text-field__input-urok" type="text"  id="username" placeholder="">
                      </div>

                      <div class="text-field-urok">
                        <label class="text-field__label-urok" for="username">Заголовок:</label>
                        <input class="text-field__input-urok" type="text"  id="username" placeholder="">
                      </div>

                    <div class="btn-urok">
                        <button class="button-urok" style="vertical-align:middle"><span>сохранить</span></button> 
                    </div>
            </form>
        </div>
</body>
</html>