<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>авторизация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <div class="card">

        <div class="logo">
            <i class='bx bxs-train'></i>
        </div>
    
    </div>

        <h2>Создание Аккаунта</h2>
        <form class="form">
            <input type="Name" placeholder="Имя">
            <input type="Email" placeholder="Email">
            <input type="Password" placeholder="Пароль">
            <button type="submit">Авторизация</button>
            <footer>
                <p>Компания Pkjt</p>
            </footer>
        </form>


</body>
</html>