<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить профиль препода</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>

        <nav>
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/jurnali">Журналы</a>
            <li><a href="/prepodprof">Добавить препода</a></li>
            <li><a href="/select_prof">Поиск</a></li>
            <li><a href="/spisok">Список</a></li>
            <li><a href="/jurnal">Журнал</a></li>
          </ul>
        </nav>
  
      </header>


      <div class="header">
        <a href="#default" class="logo">AdminPanel</a>
        <div class="header-right">
          <a class="active" href="/select_prof">Список преподователей</a>
          <a href="/prepod">Новый преподователь</a>
          <a href="#about">Добавить студента</a>
          <a href="/spisok">Список групп</a>
          <a href="/addgroup">Добавить группу</a>
          <a href="/addurok">Добавить предмет</a>
          <a href="#about">Панель админа</a>
        </div>
      </div>
      
        <div class="form-box3">
          <div class="hi">
            <h1>Изменение профиля преподователя</h1>
          </div>
            <form>
                <div class="edit-prepod">
                    <div class="text-field">
                        <label class="text-field__label-prepod" for="username">Логин:</label>
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="">
                      </div>

                      <div class="edit-prepod">
                        <label class="text-field__label-prepod" for="username">Должность:</label>
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="">
                      </div>

                      <div class="edit-prepod">
                        <label class="text-field__label-prepod" for="username">Фамилия:</label>
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="">
                      </div>

                      <div class="edit-prepod">
                        <label class="text-field__label-prepod" for="username">Имя:</label>
                        <input class="text-field__input-prepod" type="text"  id="dolg" placeholder="">
                      </div>

                      <div class="edit-prepod">
                        <label class="text-field__label-prepod" for="username">Отчество</label>
                        <input class="text-field__input-prepod" type="text"  id="group" placeholder="">
                      </div>

                      <div class="edit-prepod">
                        <label class="text-field__label-prepod" for="username">Дата рождения:</label>
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="Число">
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="Месяц">
                        <input class="text-field__input-prepod" type="text"  id="username" placeholder="Год">
                      </div>
                      
                      <label class="text-field__label-prepod" for="username">Руководит группой:</label>
                      <select name="profile" class="form-control-prepod" autocomplete="off" required="" id="id_profile">
                        <option value="" selected="">Группа</option>
                      
                        <option value="12">ВТ-523</option>
                      
                        <option value="28">ВТ-526</option>
                      
                        <option value="29">ЛОГИН: "user2" ФИО: asd asd asd</option>
                      
                        <option value="30">ЛОГИН: "teacher33" ФИО: None None None</option>
                      
                      </select>


                      <div class="edit-prepod">
                        <label class="text-field__label-prepod"for="username">Дополнительная информация:</label>
                        <input class="text-field__input-prepod" type="text"  id="group" placeholder="">
                      </div>


                    <div class="btn-prepod">
                        <button class="button-prepod" style="vertical-align:middle"><span>Не сохранять</span></button>
                        <button class="button-prepod" style="vertical-align:middle"><span>Сохранить</span></button>
                        <button class="button-prepod" style="vertical-align:middle"><span>Изменить пароль</span></button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>