<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>журнал</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jurnali.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header>

        <nav>
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/jurnali">Журналы</a>
            <li><a href="/prepodprof">Добавить препода</a></li>
            <li><a href="/select_prof">Поиск</a></li>
            <li><a href="/spisok">Список</a></li>
            <li><a href="/jurnal">Журнал</a></li>
          </ul>
        </nav>
      </header>

      <div class="header">
        <a href="#default" class="logo">AdminPanel</a>
        <div class="header-right">
          <a class="active" href="/select_prof">Список преподователей</a>
          <a href="/prepod">Новый преподователь</a>
          <a href="#about">Добавить студента</a>
          <a href="/spisok">Список групп</a>
          <a href="/addgroup">Добавить группу</a>
          <a href="/addurok">Добавить предмет</a>
          <a href="#about">Панель админа</a>
        </div>
      </div>

      <div class="content-jurnali">
      <div class="container-jurnali">
        <div class="form-box4">
            <h1>Журнал Группы ВТ-523</h1>
                    <div class="text-jurnali">
                        <table>
                            <tr>
                                <th>№</th>
                                <th>Cтудент</th>
                                <th>№</th>
                                <th>Предметы</th>         
                            </tr>
                            <tr>

                            <td>1</td>
                            <td><a href="#">Курьян Даниил Алексеевич</a></td>
                            <td>1</td>
                    <td><a href="/jurnal">Микропроцессоры</a></td>
                            </tr>
                            
                            <tr>
                              <td>1</td>
                              <td><a href="#">Курьян Даниил Алексеевич</a></td>
                              </tr>
                              <td>2</td>
                              <td><a href="#">Курьян Даниил Алексеевич</a></td>
                              </tr>
                              <td>3</td>
                              <td><a href="#">Курьян Даниил Алексеевич</a></td>
                              </tr>
                              <td>3</td>
                              <td><a href="#">Курьян Даниил Алексеевич</a></td>
                              </tr>
                        


                        <div class="btn-jurnali">
                            <button class="button" style="vertical-align:middle" onclick="document.location='addurok'"><span>Добавить предмет</span></button>
                        </div>

                        <div class="btn-two-jurnali">
                          <button class="button" style="vertical-align:middle"><span>Добавить студента</span></button>
                        </div>
                        
        </div>          
        </div>
      </div>

</body>
</html>