<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ocenka.css' %}" />
</head>
<body>
    <header>

        <nav>
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/jurnali">Журналы</a>
            <li><a href="/prepodprof">Добавить препода</a></li>
            <li><a href="/select_prof">Поиск</a></li>
            <li><a href="/spisok">Список</a></li>
            <li><a href="/jurnal">Журнал</a></li>
          </ul>
        </nav>
  
      </header>
      
      <div class="header">
        <a href="#default" class="logo">AdminPanel</a>
        <div class="header-right">
          <a class="active" href="/select_prof">Список преподователей</a>
          <a href="/prepod">Новый преподователь</a>
          <a href="#about">Добавить студента</a>
          <a href="/spisok">Список групп</a>
          <a href="/addgroup">Добавить группу</a>
          <a href="/addurok">Добавить предмет</a>
          <a href="#about">Панель админа</a>
        </div>
      </div>

      <div class="form-box5">
        <form>
        <select name="profile" class="form-control-ocenka" autocomplete="off" required="" id="id_profile">
            <option value="" selected="">Оценка</option>
            <option value="12">5</option>
            <option value="28">4</option>
            <option value="29">3</option>
            <option value="30">2</option>
            <option value="30">-</option>
            <option value="30">НБ</option>
          </select>
        </form>

        <div class="btn-ocenka">
          <button class="button-ocenka" style="vertical-align:middle" onclick="document.location='addurok'"><span>Поставить</span></button>
      </div>

      <div class="calendar1-ocenka">
        <form>
          <input type="date" name="calendar">
          </form>
      </div>
      </div>



    </form>
</body>
</html>