<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header>

        <nav>
          <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/jurnali">Журналы</a>
            <li><a href="/prepodprof">Добавить препода</a></li>
            <li><a href="/select_prof">Поиск</a></li>
            <li><a href="/spisok">Список</a></li>
            <li><a href="/jurnal">Журнал</a></li>
          </ul>
        </nav>
        
  
      </header>

      <div class="header">
        <a href="#default" class="logo">AdminPanel</a>
        <div class="header-right">
          <a class="active" href="/select_prof">Список преподователей</a>
          <a href="/prepod">Новый преподователь</a>
          <a href="#about">Добавить студента</a>
          <a href="/spisok">Список групп</a>
          <a href="/addgroup">Добавить группу</a>
          <a href="/addurok">Добавить предмет</a>
          <a href="#about">Панель админа</a>
        </div>
      </div>
      <div class="d">
        <h1>Выберете профиль для просмотра</h1>
      </div>
      <select name="profile" class="form-control-select" autocomplete="off" required="" id="id_profile">
        <option value="" selected="">Профиль</option>
      
        <option value="12">ЛОГИН: "glebas" ФИО: Глебасов Глеб Глебасович</option>
      
        <option value="28">ЛОГИН: "user" ФИО: Test Test Test</option>
      
        <option value="29">ЛОГИН: "user2" ФИО: asd asd asd</option>
      
        <option value="30">ЛОГИН: "teacher33" ФИО: None None None</option>
      
      </select>
</body>
</html>