<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>авторизация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/student.css' %}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
        <div class="form-box10">
            <div class="train-regstudent">
                <i class='bx bxs-train' ></i>
            </div>
            <h1>Регистрация Студента</h1>
            <form>
                <div class="regstudent">
                    <div class="field-regstudent">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Логин">                     
                    </div>

                    <div class="field-regstudent">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Имя">                     
                    </div>

                    <div class="field-regstudent">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Фамилия">                     
                    </div>

                    <div class="regstudent">
                        <select name="select-category" id="" class="select-regstudent">
                            <option value="">Группа</option>
                            <option value="1">ВТ-523</option>
                            <option value="2">ВТ-526</option>
                        </select>
                    </div>

                    <div class="field-regstudent">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password" placeholder="Пароль">                     
                    </div>
                    <div class="btn-regstudent">
                        <button type="button-regstudent" >Зарегестрироваться</button>               
                    </div>
            </form>
        </div>

    </div>
        
    